$primary-color: #8a639b;
$header-color: #745285;
$header-text: #baa9c3;
$header-buttons: #a086ab;
$button-highlight: #91759e;

html {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
    margin: 0px;
}

body {
    margin: 0px;
}

h4 {
    margin: 10px;
}
h3 {
    margin: 5px;
}
h2 {
    color: white;
}

#header {
    background-color: $header-color;
    color: $header-text;
    margin: 0px 0px 3em 0px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
}

#title {
    position: fixed; /* or absolute */
  left: 50%;
}

button {
    background-color: $header-buttons;
    color: white;
    border: 0px;
    margin-left: 5px;
    border-radius: 3px; 
}
button:hover {
    background-color: $button-highlight;
}

.bigbutton {
    display: flex;
    align-items: center;
}

#top-in {
    background-color: $header-buttons;
    height: 100%;
    margin-left: 5px;
    display: flex;
    border-radius: 3px;
}

#top-in > input {
    background-color: transparent;
    border: none;
    
}



#left-side {
    display: flex;
}

#dragboi {
    margin: 5px;
}

.MuiCardContent-root {
    padding: 10px !important;
}